@import 'variables';

body{
  font-family: 'Roboto', sans-serif;
  margin:0;
}
.login-nav{
  background:$background-text;
  padding-top:.5rem;
  padding-bottom:.5rem;
  text-align:right;
  a{
  color: white;
text-decoration: none;
margin-right: 3rem;
}
}
.logo{
  width:207px;
  display:block;
  text-align:center;
  margin:0 auto;
  margin-top:3rem;
  h1{
    color:$background-text;
    margin:0;
    font-size:3rem;
  }
  .bucket{
    font-weight:bold;
  }
  .budget{
    margin-top:-14px;
    font-weight:normal;
  }
  ul{
    padding:0;
    list-style:none;
    width:100%;
    margin:0 auto;
  }
  span{
    display: inline-block;
height: 41px;
width: 41px;
background: black;
margin-right: .3rem;
border-radius: 3px;
  }
  .bucket1{
    background:$bucket1;
  }
  .bucket2{
    background:$bucket2;
  }
  .bucket3{
    background:$bucket3;
  }
  .bucket4{
    background:$bucket4;
  }
  .bucket5{
    background:$bucket5;
  }
  .bucket6{
    background:$bucket6;
  }
  .bucket7{
    background:$bucket7;
  }
  .bucket8{
    background:$bucket8;
  }
}
.form{
  margin-top:2rem;
  position:relative;
  input{
    display:block;
    margin:0 auto;
    width:178px;
    padding-top:.4rem;
    padding-bottom:.4rem;
    margin-bottom:.5rem;
  }
  input[type="submit"]{
    background:transparent;
    border:none;
    font-size:1rem;
    margin-top:2rem;
    color:$background-text;
  }
}

.form-enter{
	opacity:0;
  top:-100px
}
.form-enter.form-enter-active{
	opacity:1;
  top:0;
	transition:all 1s ease-in;
}
.home{
  .fa-plus-square-o{
    position:absolute;
    left:1.5rem;
    font-size:1.5rem;
  }
  .bank-info{
    text-align:center;
    margin-top:1rem;
  }
  .title{
    margin:0;
    margin-top:1rem;
    font-size:1rem;
    span{
      font-size:.8rem;
    }
  }
}
.triangle{
  position: absolute;
    left: 46%;
    width: 0;
    top: 10px;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #2F86D4 transparent transparent transparent;
}
.drop-down{
  height:10px;
  position:relative;
  background:$background-text;
  margin-top:.5rem;
}
.open-drop-down{
  background:$background-text;
  color:white;
  position:relative;
  padding-top:.5rem;
  padding-bottom:.5rem;
  .fa-ellipsis-v{
font-size: 1.5rem;
float: left;
padding-left: 1rem;
padding-top: .5rem;
  }
  h3{
    margin:0;
    font-size:1rem;
  }
}
.slider{
  float: left;
    width: 40%;
    background: $send;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: -8px;
}

.overlay{
  position:absolute;
  top:0;
  height:100%;
  width:100%;
  background:rgba(0,0,0,.5);
}
.bucket{
    width: 80%;
    background: #2DB089;
    border-radius: 6px;
    margin-left: 10%;
    margin-top: 4rem;
    height: 13rem;
    position:relative;
}
.empty-bucket{
  padding-top:1.5rem;
  input{
    font-size:1.5rem;
    text-align:center;
    background:transparent;
    border:none;
    width:67%;
    display:block;
    margin:0 auto;
    margin-top:1rem;
    margin-bottom:1rem;
    outline:none;
    color:white;

  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}
  .amount{
    border-top:1px solid white;
    border-bottom:1px solid white;
    padding-top:.5rem;
    padding-bottom:.5rem;
  }
  input[type="submit"]{
    font-size:1rem;
  }
}
